

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}



.flex-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
}


.myskill {
  font-size: 5em;
  flex: auto;
  width: 50%;
  text-align: center;
}

.name {
  font-size: 30px;
}

.img-container{
  display:flex;/* flexbox */
  justify-content:center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}


.img-container p {
  font-size: 30px;
}

.skillcontainer {
  background-image: url(img/building-4781384_1920.jpg);
  background-size: cover;
}

.carousel-item {
  height: 300px;
  margin: 0,auto;
}
.card-img-top {
  height: 300px;
}

h2 {
  color: black;
}
